/* changes formatting of .main */

.main {
    margin: 20px;
}

.querytable {
    margin-top: 20px;
    border-collapse: collapse;
}

.querytable th, .querytable td {
    padding: 5px 20px;
}

.querytable td {
    min-width: 50px;
    border: 1px solid hsl(0, 0%, 10%);
    border-left:none;
    border-right:none;
    text-align: left;
}

.querytable tr:nth-child(even) {
    background-color: hsl(0, 0%, 20%);
    border: 1px solid hsl(0, 0%, 0%);
}
