@media print {
  * {
    color: #000;
  }

  body {
    max-width:100%;
  }

  main {
    margin:0;
  }

  hr {
    background-color: #00000050;
  }

  a {
    color: #00000050;
  }

  img {
    border: #00000050;
    filter: grayscale(100%);
  }

  .cornercircle, #logo {
    visibility: hidden;
  }

  #logo {
    height:0;
  }
  
  header {
    padding: 0px;
    margin: 20px 20px;
    background-color: #fff;
  }

  .entry {
    page-break-inside: avoid;
  }
}