<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/mainstyle.css" type="text/css">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="navbar">
      <nav>
        <a href="/"><img class="logo" src="../static/images/cannoli.png"></a>
        <a href="/"><span>Home</span></a>
      </nav>
    </div>
    <div class="main">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
