{% extends "base.html" %}
{# HEAD #}
{% block stylesheets %}<link rel="stylesheet" href="../static/indexstyle.css" type="text/css">{% endblock %}
{% block title %}Users{% endblock %}
{# /HEAD #}

{# BODY #}
{% block content %}
<header><h1>Resume Builder App</h1></header>
<hr>
<a href="/newuser">Add a new User</a><br><br>
<h2>Users:</h2>
<table class="querytable">
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
    <th>ID</th>
  </tr>
  {% for user in users %}<tr>
    <td><a href="{{ url_for('profile', user_id = user.id) }}">{{ user }}</a></td>
    <td>{{ user.name_first }} {{ user.name_last }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.id }}</td>
  </tr>{% endfor %}
</table>
{% endblock %}
{# /BODY #}
